/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #313131;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { 
  font-size: 100%; 
  font-weight: 400;
  color: #515151;
}

a         { color: #205caa; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

img {
  max-width: 100%;
  height: auto;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 720px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  min-height: 56px;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #cacaca;
  font-size: 20px;
  letter-spacing: -1px;
  float: left;
  position: relative;
  top: 13px;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 21px;
  height: 21px;
  position: relative;
  top: 17px;
  left: 10px;
}

.rss-icon-svg {
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: 16px;
  left: 13px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 37px;
  letter-spacing: -1.75px;
  line-height: 1.1;
  font-weight: 300;
  margin-left: -2px;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
  margin-left: 1px;
}

.post-content { margin: 0 0 30px; word-wrap: break-word; }

.post-content > * { margin: 20px 0; }

.post-footer { margin: 60px 0 0; }

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  padding: 8px 12px;
  font-size: 12px;
  overflow:scroll;
  word-wrap: normal; 
}

.post code {
  padding: 1px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

/* .highlight { background-color: #052b35; color: #93a1a1 } */
/* .highlight { background-color: #09303b; color: #93a1a1 } */
.highlight { background-color: #0e3641; color: #93a1a1 }
.highlight .hll{background-color:#e5e5e5}
.highlight .c{color:#586e75;font-style:italic}
.highlight .g{color:#d33682}
.highlight .k{color:#859900}
.highlight .l{color:#2aa198}
.highlight .n{color:#268bd2}
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs{color:#586e75;font-style:italic}
.highlight .gd,
.highlight .ge,
.highlight .gr,
.highlight .gh,
.highlight .gi,
.highlight .go,
.highlight .gp,
.highlight .gs,
.highlight .gu,
.highlight .gt{color:#d33682}
.highlight .kc{color:#859900}
.highlight .kd{color:#859900}
.highlight .kn{color:#dc322f}
.highlight .kp,
.highlight .kr{color:#859900}
.highlight .kt{color:#859900}
.highlight .ld{color:#2aa198}
.highlight .m{color:#2aa198}
.highlight .s{color:#2aa198}
.highlight .na{color:#268bd2}
.highlight .nb,
.highlight .nc{color:#cb4b16}
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nf,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py{color:#268bd2}
.highlight .nt{color:#268bd2}
.highlight .nv{color:#268bd2}
.highlight .ow{color:#859900}
.highlight .w{color:#586e75}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo{color:#2aa198}
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss{color:#2aa198}
.highlight .bp{color:#268bd2}
.highlight .vc,
.highlight .vg,
.highlight .vi{color:#268bd2}
.highlight .il{color:#2aa198}

/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; word-break: break-all; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

}
